.jira-issues-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

.jira-issue-grid-item {
    flex-grow: 1;
    padding: 1em;
    max-width: 300px;
    min-width: 300px;
}

.jira-issue {
    color: var(--text-normal);
    background-color: var(--background-primary-alt);
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    position: relative;
}

.jira-issue.in-error {
    color: var(--text-error);
    text-align: center;
    padding: 1em;
}

.jira-issue-title {
    height: 3em;
    overflow: hidden;
}

.jira-issue-details span {
    font-size: 0.6em;
}

.jira-issue-details span:not(:last-child) {
    margin-right: 5px;
}

.jira-issue-time-bar-container {
    height: 1em;
    background-color: var(--text-normal);
    overflow: hidden;
    margin-top: 0.2em;
}

.jira-issue-time-bar, .jira-issue-time-bar-overflow {
    height: 100%;
    width: 0;
}

.jira-issue-time-bar {
    background-color: var(--text-accent-hover);
}

.jira-issue-time-bar-overflow {
    background-color: var(--text-error-hover);
}

.jira-modal-commands {
    text-align: right;
    padding-top: 2em;
}

.jira-modal-title {
    max-width: 20em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jira-issue-transition-control {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
}

.jira-issue-transition-control button {
    margin: 0 2px;
    padding: 0.5em;
}

.jira-issue-details-action {
    cursor: pointer;
}
